@import 'tailwindcss';

@theme {
  --color-teal-50: #f0fdfa;
  --color-teal-100: #ccfbf1;
  --color-teal-200: #99f6e4;
  --color-teal-300: #5eead4;
  --color-teal-400: #2dd4bf;
  --color-teal-500: #14b8a6;
  --color-teal-600: #0d9488;
  --color-teal-700: #0f766e;
  --color-teal-800: #115e59;
  --color-teal-900: #134e4a;
  --color-teal-950: #042f2e;

  --color-sage-50: #f2f7f2;
  --color-sage-100: #e0ece0;
  --color-sage-200: #c2d9c3;
  --color-sage-300: #96be98;
  --color-sage-400: #669b69;
  --color-sage-500: #4a7d4d;
  --color-sage-600: #3a633d;
  --color-sage-700: #2f5032;
  --color-sage-800: #274029;
  --color-sage-900: #213623;
  --color-sage-950: #111e13;
}
